/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.divider {
margin-block: 3%;
width: 100%;
height: auto;

}


/*--------------------------------------------------------------------- Header ---------------------------------------------------------------------*/

#header {
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    padding: 10%;
}

.condosolution {
    max-width: 250px;
    height: auto;
    text-align: center;
}

.rating-row {
    padding: 5%
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1.7em 1.8em 1.8em 4.7em;
    gap: 10px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border: none;
    position: relative;
    background: #2b2b2b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
  }
  .rating-container .rating-value {
    position: absolute;
    top: -10px;
    left: -69px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background: #ffbb00;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075), inset 0 0 10px #f7db5e, 0 0 10px #f7db5e;
  }
  .rating-container .rating-value:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 120px;
    font-size: 2.5em;
    color: #2b2b2b;
    content: "0";
    transform-origin: "center center";
    transition: all 0.25s ease 0s;
  }
  .rating-container .rating-value:after {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    top: -1px;
    left: -1px;
    margin: auto;
    border: 1px solid #ffbb00;
    border-radius: 50%;
    transition: all 0.4s ease-in;
  }
  .rating-container input {
    display: none;
  }
  .rating-container label {
    height: 40px;
    width: 40px;
    transform-origin: "center center";
  }
  .rating-container label svg {
    transition: transform 0.4s ease-in-out;
    opacity: 0.5;
  }
  .rating-container label:hover svg {
    transform: scale(1.25) rotate(10deg);
  }
  
  input:checked ~ label svg {
    opacity: 1;
    transform: scale(1.25) rotate(10deg);
  }
  
  label:hover svg,
  label:hover ~ label svg {
    opacity: 1;
    transform: scale(1.25) rotate(10deg);
  }
  
  input:checked + label:hover svg {
    opacity: 1;
  }
  input:checked ~ label:hover svg,
  input:checked ~ label:hover ~ label svg {
    opacity: 1;
  }
  
  label:hover ~ input:checked ~ label svg {
    opacity: 1;
  }
  
  #rate1:checked ~ .rating-value:before {
    content: "1";
    font-size: 2.75em;
  }
  
  label[for=rate1]:hover ~ .rating-value:before {
    content: "1" !important;
    font-size: 2.75em !important;
  }
  
  #rate2:checked ~ .rating-value:before {
    content: "2";
    font-size: 3em;
  }
  
  label[for=rate2]:hover ~ .rating-value:before {
    content: "2" !important;
    font-size: 3em !important;
  }
  
  #rate3:checked ~ .rating-value:before {
    content: "3";
    font-size: 3.25em;
  }
  
  label[for=rate3]:hover ~ .rating-value:before {
    content: "3" !important;
    font-size: 3.25em !important;
  }
  
  #rate4:checked ~ .rating-value:before {
    content: "4";
    font-size: 3.5em;
  }
  
  label[for=rate4]:hover ~ .rating-value:before {
    content: "4" !important;
    font-size: 3.5em !important;
  }
  
  #rate5~ .rating-value:before {
    content: "4.9";
    font-size: 3.75em;
  }

  
  @keyframes pulse {
    0% {
      height: 138px;
      width: 138px;
      top: -1px;
      left: -1px;
      opacity: 1;
    }
    100% {
      height: 170px;
      width: 170px;
      top: -16px;
      left: -16px;
      opacity: 0;
    }
  }
  #rate5:checked ~ .rating-value:after {
    animation: pulse 0.4s ease-out 1;
  }
  
  label[for=rate5]:hover ~ .rating-value:before {
    content: "5" !important;
    font-size: 3.75em !important;
  }




/* Header ends*/

/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.best_text {
    width: 90px;
    margin: 0 auto;
    text-align: center;
    background-color: #f7c17b;
    color: #325662;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    padding: 26px 0px;
    text-transform: uppercase;
    left: -15px;
    position: relative;
}
.image_1 {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
.banner_taital {
    width: 50%;
    float: left;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Raleway ExtraBold', sans-serif;
    padding-top: 40px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.contact_bt {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.contact_bt a {
    width: 180px;
    float: left;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #f7c17b;
    padding: 8px 0px;
}

.contact_bt a:hover {
    color: #000;
    background-color: #ffffff;
}


#main_slider a.carousel-control-prev {
    left: 88%;
    top: 60%;
    background-color: #f7c17b;
    color: #ffffff;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: 20px;
    top: 60%;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 68px;
    height: 68px;
    background: #325662;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background-color: #f7c17b;
    color: #ffffff;
}
/* banner section end */


/* cycle section start */

.cycle_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.cycle_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.cycle_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #242424;
    text-align: center;
    margin: 0px;
}
.cycle_section_2{
    width: 100%;
    float: left;
}
.box_main{
    width: 100%;
    float: left;
    position: relative;
}
.number_text {
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #325662;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    float: right;
    margin-right: 140px;
    margin-top: 60px;
}
.image_2 {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 100px;
}
.box_main:after{
    content: '';
    background-color: #f7c17b;
    position: absolute;
    width: 420px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    height: 600px;
    left: 0;
    z-index: -1;
clip-path: polygon(0 0, 75% 8%, 75% 80%, 0% 100%);

}
.cycles_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1c1c1c;
    font-weight: bold;
    text-align: right;
    padding-top: 40px;
}

.col-md-12 .center {
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    margin: 0px; 
    padding-top: 40px;   
}

.btn_main{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.buy_bt{
    width: 170px;
    float: left;
}
.buy_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #325662;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
}
.buy_bt a:hover{
    color: #ffffff;
    background-color: #f7c17b;
}

.price_text {
    width: 100%;
    float: right;
    text-align: right;
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    padding-top: 8px;
}
.cycle_section_3{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.box_main_3{
    width: 100%;
    float: left;
    position: relative;
}
.box_main_3:after {
    content: '';
    background-color: #f7c17b;
    position: absolute;
    width: 420px;
    right: 0px;
    top: 0px;
    margin: 0 auto;
    display: flex;
    height: 530px;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 65% 8%, 64% 80%, 0% 100%);
}
.number_text_2 {
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #325662;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    float: right;
    margin-right: 185px;
    margin-top: 60px;
}


/* cycle section end */

/* about section start */
.about_section {
    width: 100%;
    float: left;
    background-image: url(../images/background_dario_petralia_condosolution.jpg);
    height: auto;
    padding: 90px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
    background-attachment: fixed;
}

.about_section img {cursor: pointer}

.about_section img:hover {
    transform: scale(1.02);
}



.about_taital{
    width: 100%;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: bold;
    
}
.about_text{
    width: 70%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.about_main {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: 60px;

} .image_5{ width: 40%; margin: 0 auto; text-align: center; padding-top:
100px; position: relative; z-index: 1; } 

.about_main::before {

    content: '';
    position: absolute;
    width: 400px;
    right: 0px;
    top: 67px;
    margin: 0 auto;
    display: flex;
    height: 355px;
    left: -180px;
    box-shadow: 0 35px 25px -20px 

    rgba(0,0,0,0.2);
    transform: rotate(-13deg) skewx(-1.2deg);

}

.about_main::after {

    content: '';
    background-color: 

    #f7c17b;

position: absolute;

width: 500px;

right: 0px;

top: 30px;

margin: 0 auto;

display: flex;

height: 440px;

left: 0;

clip-path: polygon(0 0px, 80% 3%, 80% 78%, 0% 100%);

-webkit-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);

-moz-box-shadow: 0px 8px 7px 3px rgba(0,0,0,0.31);

box-shadow: 0px 8px 7px 3px

    rgba(0,0,0,0.31);

}

.read_bt_1{
    width: 170px;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
}
.read_bt_1 a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #e39837;
    padding: 8px 5px;
    text-align: center;
    margin-top: 80px;
}
.read_bt_1 a:hover{
    color: #ffffff;
    background-color: #325662;
}

